---
import '#/styles/fonts.scss';
import '#/styles/tokens/tokens.css';
import '#/styles/global.scss';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
const assetBaseUrl = baseUrl.endsWith('/') ? baseUrl : `${baseUrl}/`;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href={`${assetBaseUrl}fav-logo.png`} />
        <link rel="icon" href={`${assetBaseUrl}fav-logo.ico`} />
        <meta name="description" content={description} />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

